---
AlignConsecutiveDeclarations: true
AllowShortFunctionsOnASingleLine: Inline
BinPackParameters: false
BreakConstructorInitializersBeforeComma: true
BreakConstructorInitializers: BeforeColon
BasedOnStyle: Microsoft
BreakBeforeBraces: Allman
IndentWidth: 4
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
...
